body {
  background-color: #FEF9EF;
}

h1 {
  font-family: sans-serif;
  text-align: center;

}

.box{
  background-color: red;
}

.box-black{
  background-color: black;
}

#box-container{
  display:grid;
  height: 40vw;
  width: 40vw;
  border: 1px solid black;
  margin: auto;
  background-color: white;
  padding: 0;
}

.box16x16 {
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
}
