body {
  background-color: #FEF9EF;
  text-align: center;
  font-family: sans-serif; 
}

h1, h2, h3 {
  font-family: sans-serif;
  text-align: center;

}

button{
  display: block;
  margin: auto;
}

.box{
  background-color: white;
}

.container{
  margin: auto;
  width: 850px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #F0F0F0;
}

#grid{
  display:grid;
  height: 35vw;
  width: 35vw;
  border: 1px solid black;
  margin: auto;
  background-color: white;
  padding: 0;
}

.buttons{
  width: 10vw;
  text-align: center;
}
